
.container {
  height: 100vh;
  width: 100%; 
  background: linear-gradient(to right, #00DBDE, #FC00FF);
  overflow: hidden; 
}
.product{
    margin-left: 350px;
}
.qty{
    margin-left: 500px;
}
.subtotal{
    margin-left: 100px;
}
h2{
  background: #EEEEEE;
  margin-top: 0px;
  height: 60px;
  margin-bottom: -10px;
  text-align: center;
}
.container-list {
    height: 250vh;
  background: #EEEEEE;
}
.container-table {
    height: 250vh;
background: #ffffff; 
margin-left: 100px;
margin-right: 100px;
}
 .bg-list{
   position: absolute;
  top: 50%;
left: 50%;
margin-left: 100px;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
}
img{
    width: 300px;
    height: 300px;
}

.header {
  background-color: #333;
  color: white;
  text-align: center;
  height: 50px;
}
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  height: 50px;
  width: 1200px;
  margin-top: -30px;
}

.image-description-container {
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}


.image-container img {
  max-width: 100%;
  height: auto;
}

.description-container {
  flex: 1;
  padding-left: 20px;
}

.description-container h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.description-container p {
  font-size: 1rem;
  color: #555;
}
.priceImage{
   font-weight: 400; 
}
.qtyIitem{
    margin-left: -100px;
}
.totalitem{
    margin-left: 100px;
}
.stockImage{
    color: rgb(226, 92, 92);
}
.red-text {
  color: red;
}